html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arvo';
}






/* Header */
.nav {
    height: 50px;
    width: 100%;
    background-color: #222222;
    position: relative;
    text-transform: uppercase;
    position: fixed;
    font-family: 'Arvo';
}

.nav > .nav-header > a > img {
    padding-top: 12px;
    margin-left: 380px;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
}
.nav > .nav-links > a:last-child {
    padding-right: 390px;
}

.nav > .nav-links > a:first-child {
    margin-right: 20px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding-top: 15px;
    letter-spacing: .5px;
    text-decoration: none;
    color: #8d8d8d;
}

.nav > .nav-links > a:hover{
    color: white;
}

.nav > #nav-check {
    display: none;
}

@media all and (max-width:900px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    width: 100%;
    background-color: #333;
    transition: all 0.3s ease-in;
    overflow-x: hidden;
    top: 50px;
    left: 0px;
    height: 100px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(15vh - 25px);
    overflow-y: auto;
  }

  .nav > .nav-header > a > img {
    padding-top: 12px;
    margin-left: 40px;
  }
}





/* Home */
#home {
    margin: 0;
    width: 100%;
}

#home .hero {
    width: 100%;
    height: 100%;
    background-image: url(../images/hero-image.jpg);
}

#home .text1 {
    color: #f1f1f1;
    font-family: 'Arvo';
    text-align: center;
}

#home .text1 > h1 {
    margin-top: 0;
    padding-top: 75px;
    font-size: 63px

}

#home .text2 {
    color: #f1f1f1;
    font-family: 'Arvo';
    text-align: center;
    font-size: 19px;
}

#home .btn {
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Arvo' sans-serif;
    border-radius: 5px;
    margin-bottom: 20px;
}

#home .learn-more {
    background-color: #ff4D4D;
}
#home .learn-more h1 {
    font-size: 25px;
    margin: 10px 0;
}

#home .learn-more:hover {
    background: #da190a;
}

#home .img-hero {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px
}
@media all and (max-width: 280px){
    .hero {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .text1 > h1{
        margin: 0 auto;
        text-align: center;
        font-size: 39px;
    }
}




/* Who */
#who {
    margin: 0;
    width: 100%;
    height: 100%;
}

#who .caption {
    margin: 0 auto;
    width: 100%;
}

#who .caption-img {
    text-align: center;
    padding-top: 50px;
}

#who .caption-img p {
    color: #da190a;
    font-family: 'Arvo';
    font-size: 20px;
    margin: 9px 0;
}

hr {
    width: 5%;
    color: #ff4D4D;
}

#who .caption-text {
    text-align: center;
    font-family: 'Arvo';
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#who .caption-text span {
    color: #da190a;
}





/* get-involved */
#get-involved {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: 'Arvo';
}

.service-title {
    text-align: center;
    padding-top: 50px;
}

.service-title p {
    margin: 0 auto;
    font-size: 20px;
    color: #da190a;
}

#container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    padding: 40px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    width: 60%;
}

#container > .student {
  padding-right: 40px;
  padding-top: 25px;
}

#container > .educators {
  padding-right: 40px;
  padding-top: 25px;
}

#container > .sponsors {
  padding-right: 0px;
  padding-top: 20px;
}

 p {
    font-size: 20px;
}

h3 {
    color: #F74C3C;
}

a.start {
  padding: 5px 15px;
  font-size: 13px;
  background: white;
  color: #F74C3C;
  border: 1px solid grey;
  text-decoration: none;
}

.fa-stack {
  border-radius: 50%;
  background-color: #333;
  width: 100px;
  height: 100px;
}

@media all and (max-width:800px) {
  #get-involved > #container {
    display: flex;
    flex-direction: column;
  }
    #container {
        width: 100%;
    }
    #container > .student{
        padding-right: 0;
    }
    #container > .educators {
        padding-right: 0px;
        padding-top: 50px;
    }
    #container > .sponsors{
        padding-top: 50px;
    }
}



/* Footer */
footer {
    display: flex;
    margin: 0 auto;
    padding: 130px 80px 30px 380px;
    background-color: #f74c3c;
}

footer > img {
    display: flex;
    align-items: flex-end;
    height: 35px;
}

@media all and (max-width: 800px){
    footer {
        padding-left: 40px;
    }
}
